# Python files
*.pyc
__pycache__/
*.pyo

# Virtual environment
env/
*.env

# Django files
db.sqlite3
*.log
media/
static/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Django Migrations
*/migrations/*.py
!*/migrations/__init__.py
